@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0 1rem;
    background-color: rgb(19, 19, 19);
}

.title{
    font-size: 4em;
    color: rgb(36, 32, 83);
    text-align: center;
    text-transform: uppercase;
}

.grid{
    width: 30%;
    margin: 5rem auto;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 20px;
    gap: 1rem;
}

.grid-item,
.grid-item1{
    font-size: 6em;
    text-align: center;
    display: flex;
    align-items: center;
    color: rgb(202, 201, 201);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    aspect-ratio: 1;
    line-height: 1;
    justify-content: center;
    border-radius: 20px;
    background-color: rgb(22, 19, 54);
    transition: 0.3s;
    cursor: pointer;
}

.grid-item:hover,
.grid-item1:hover{
    color: white;
    background-color: rgb(36, 32, 83);
}